.main_slider{
    max-width: 1600px;
    width: 100%;
}


.slide_background{
    background-image: url("Image/Slide_Background.png");
    background-repeat: no-repeat;
    background-size: 88% 100%;
    height: 100%;
    width: 100%;
}

.container_slider {
    padding: 0 145px;
}


.slider_details {
    display: flex;
    justify-content: space-between;
    padding-block-start: 112px;
}

.left_details {
    padding: 22px;
    padding-inline-start: 45px;
}


.left_details h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #091156;
}

.left_details p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.6px;
    inline-size: 474px;
    block-size: 54px;
    color: #091156;
    margin-block-start: -25px;
}

.details_button {
    padding-block-start: 12px;
}


.btnDetails {
    inline-size: 200px;
    block-size: 58.36px;
    border-radius: 50px;
    background-color: #FF64AE;
    border: none;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1.6px;
    font-weight: 600;
    padding-inline-start: 8px;
    padding-block-end: 2px;
    font-family: "Poppins", sans-serif;
}

.img_slider{
    margin-top: -2px;
    margin-right: 16px;
}



.main_rec {
    display: flex;
    margin-block-start: 128px;
    justify-content: center;
    align-items: center;
}


.rectangle_2 {
    inline-size: 25.31px;
    block-size: 8.15px;
    background-color: #414880;
    border-radius: 50px;
}

.rectangle_1 {
    inline-size: 14.82px;
    block-size: 3.09px;
    background-color: #EEEEEE;
    border-radius: 50px;
    margin-inline-end: 5px;
}

.rectangle_3 {
    inline-size: 14.82px;
    block-size: 3.09px;
    background-color: #EEEEEE;
    border-radius: 50px;
    margin-inline-start: 5px;
}
